In [15]:
import pandas as pd
import numpy as np

In [29]:
df = pd.read_csv('Hotel.CSV')
df.sample(5)

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
2668,INN02669,3,0,2,4,Meal Plan 2,0,Room_Type 4,85,2018,8,19,Online,0,0,0,210.60,1,Not_Canceled
2564,INN02565,2,0,2,2,Meal Plan 1,0,Room_Type 1,18,2018,12,31,Online,0,0,0,115.68,2,Not_Canceled
17730,INN17731,2,1,2,3,Meal Plan 1,0,Room_Type 5,52,2018,10,23,Online,0,0,0,145.24,0,Canceled
27503,INN27504,1,0,2,1,Meal Plan 1,0,Room_Type 1,93,2018,10,15,Offline,0,0,0,115.00,0,Canceled
32177,INN32178,2,1,1,3,Meal Plan 1,0,Room_Type 1,87,2018,10,10,Online,0,0,0,135.00,1,Canceled

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36275 entries, 0 to 36274
Data columns (total 19 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Booking_ID                            36275 non-null  object
 1   no_of_adults                          36275 non-null  int64
 2   no_of_children                        36275 non-null  int64
 3   no_of_weekend_nights                  36275 non-null  int64
 4   no_of_week_nights                     36275 non-null  int64
 5   type_of_meal_plan                     36275 non-null  object
 6   required_car_parking_space            36275 non-null  int64
 7   room_type_reserved                    36275 non-null  object
 8   lead_time                             36275 non-null  int64
 9   arrival_year                          36275 non-null  int64
 10  arrival_month                         36275 non-null  int64
 11  arrival_date                          36275 non-null  int64
 12  market_segment_type                   36275 non-null  object
 13  repeated_guest                        36275 non-null  int64
 14  no_of_previous_cancellations          36275 non-null  int64
 15  no_of_previous_bookings_not_canceled  36275 non-null  int64
 16  avg_price_per_room                    36275 non-null  float64
 17  no_of_special_requests                36275 non-null  int64
 18  booking_status                        36275 non-null  object
dtypes: float64(1), int64(13), object(5)
memory usage: 5.3+ MB

In [22]:
df.describe()

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,required_car_parking_space,lead_time,arrival_year,arrival_month,arrival_date,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests
count,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000
mean,1.844962,0.105279,0.810724,2.204300,0.030986,85.232557,2017.820427,7.423653,15.596995,0.025637,0.023349,0.153411,103.423539,0.619655
std,0.518715,0.402648,0.870644,1.410905,0.173281,85.930817,0.383836,3.069894,8.740447,0.158053,0.368331,1.754171,35.089424,0.786236
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2017.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,0.000000,0.000000,1.000000,0.000000,17.000000,2018.000000,5.000000,8.000000,0.000000,0.000000,0.000000,80.300000,0.000000
50%,2.000000,0.000000,1.000000,2.000000,0.000000,57.000000,2018.000000,8.000000,16.000000,0.000000,0.000000,0.000000,99.450000,0.000000
75%,2.000000,0.000000,2.000000,3.000000,0.000000,126.000000,2018.000000,10.000000,23.000000,0.000000,0.000000,0.000000,120.000000,1.000000
max,4.000000,10.000000,7.000000,17.000000,1.000000,443.000000,2018.000000,12.000000,31.000000,1.000000,13.000000,58.000000,540.000000,5.000000

In [24]:
df.isna().sum()

Booking_ID                              0
no_of_adults                            0
no_of_children                          0
no_of_weekend_nights                    0
no_of_week_nights                       0
type_of_meal_plan                       0
required_car_parking_space              0
room_type_reserved                      0
lead_time                               0
arrival_year                            0
arrival_month                           0
arrival_date                            0
market_segment_type                     0
repeated_guest                          0
no_of_previous_cancellations            0
no_of_previous_bookings_not_canceled    0
avg_price_per_room                      0
no_of_special_requests                  0
booking_status                          0
dtype: int64

In [25]:
df.nunique()

Booking_ID                              36275
no_of_adults                                5
no_of_children                              6
no_of_weekend_nights                        8
no_of_week_nights                          18
type_of_meal_plan                           4
required_car_parking_space                  2
room_type_reserved                          7
lead_time                                 352
arrival_year                                2
arrival_month                              12
arrival_date                               31
market_segment_type                         5
repeated_guest                              2
no_of_previous_cancellations                9
no_of_previous_bookings_not_canceled       59
avg_price_per_room                       3930
no_of_special_requests                      6
booking_status                              2
dtype: int64

### 1 -  Number of booking for each number of adults with each number of children

In [28]:
df.groupby(['no_of_adults','no_of_children'])['Booking_ID'].count().reset_index()

    no_of_adults  no_of_children  Booking_ID
0              0               1           1
1              0               2         133
2              0               3           5
3              1               0        7551
4              1               1          90
5              1               2          53
6              1               9           1
7              2               0       23719
8              2               1        1502
9              2               2         871
10             2               3          14
11             2               9           1
12             2              10           1
13             3               0        2291
14             3               1          25
15             3               2           1
16             4               0          16

### 2 - the highest meal are ordered

In [33]:
df.type_of_meal_plan.value_counts().sort_values(ascending = False).reset_index()

          index  type_of_meal_plan
0   Meal Plan 1              27835
1  Not Selected               5130
2   Meal Plan 2               3305
3   Meal Plan 3                  5

### 3-Required car parking space

In [36]:
df.groupby('required_car_parking_space')['Booking_ID'].count().sort_values(ascending = False).reset_index()

   required_car_parking_space  Booking_ID
0                           0       35151
1                           1        1124

## or

In [37]:
df['required_car_parking_space'].value_counts()

0    35151
1     1124
Name: required_car_parking_space, dtype: int64

### 4 - Gain of money for each room

In [39]:
df.groupby('room_type_reserved')['avg_price_per_room'].sum().sort_values(ascending = False).reset_index()

  room_type_reserved  avg_price_per_room
0        Room_Type 1          2698188.31
1        Room_Type 4           758865.28
2        Room_Type 6           176017.60
3        Room_Type 2            60791.20
4        Room_Type 5            32789.41
5        Room_Type 7            24521.33
6        Room_Type 3              515.75

### 5 - number of special requests

In [43]:
df.groupby('no_of_special_requests')['Booking_ID'].count().sort_values(ascending = False).reset_index()

   no_of_special_requests  Booking_ID
0                       0       19777
1                       1       11373
2                       2        4364
3                       3         675
4                       4          78
5                       5           8

### 6 - Number of booking that canceled and that not canceled

In [49]:
df.booking_status.value_counts()

Not_Canceled    24390
Canceled        11885
Name: booking_status, dtype: int64

In [50]:
df.corr()

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,required_car_parking_space,lead_time,arrival_year,arrival_month,arrival_date,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests
no_of_adults,1.000000,-0.019787,0.103316,0.105622,0.011429,0.097287,0.076719,0.021841,0.026338,-0.192277,-0.047426,-0.119166,0.296886,0.189401
no_of_children,-0.019787,1.000000,0.029478,0.024398,0.034244,-0.047091,0.045983,-0.003076,0.025482,-0.036348,-0.016390,-0.021189,0.337728,0.124486
no_of_weekend_nights,0.103316,0.029478,1.000000,0.179577,-0.031111,0.046595,0.055357,-0.009894,0.027304,-0.067107,-0.020690,-0.026312,-0.004525,0.060593
no_of_week_nights,0.105622,0.024398,0.179577,1.000000,-0.048784,0.149650,0.032672,0.037376,-0.009305,-0.099764,-0.030080,-0.049344,0.022753,0.045994
required_car_parking_space,0.011429,0.034244,-0.031111,-0.048784,1.000000,-0.066445,0.015684,-0.015505,-0.000037,0.110909,0.027106,0.063810,0.061304,0.087922
lead_time,0.097287,-0.047091,0.046595,0.149650,-0.066445,1.000000,0.143439,0.136814,0.006479,-0.135984,-0.045723,-0.078137,-0.062596,-0.101645
arrival_year,0.076719,0.045983,0.055357,0.032672,0.015684,0.143439,1.000000,-0.339689,0.018849,-0.018175,0.003919,0.026422,0.178605,0.053205
arrival_month,0.021841,-0.003076,-0.009894,0.037376,-0.015505,0.136814,-0.339689,1.000000,-0.042780,0.000341,-0.038615,-0.010718,0.054423,0.110552
arrival_date,0.026338,0.025482,0.027304,-0.009305,-0.000037,0.006479,0.018849,-0.042780,1.000000,-0.015949,-0.012542,-0.001498,0.017898,0.018352
repeated_guest,-0.192277,-0.036348,-0.067107,-0.099764,0.110909,-0.135984,-0.018175,0.000341,-0.015949,1.000000,0.390810,0.539156,-0.174900,-0.011820
no_of_previous_cancellations,-0.047426,-0.016390,-0.020690,-0.030080,0.027106,-0.045723,0.003919,-0.038615,-0.012542,0.390810,1.000000,0.468147,-0.063340,-0.003317
no_of_previous_bookings_not_canceled,-0.119166,-0.021189,-0.026312,-0.049344,0.063810,-0.078137,0.026422,-0.010718,-0.001498,0.539156,0.468147,1.000000,-0.113684,0.027377
avg_price_per_room,0.296886,0.337728,-0.004525,0.022753,0.061304,-0.062596,0.178605,0.054423,0.017898,-0.174900,-0.063340,-0.113684,1.000000,0.184381
no_of_special_requests,0.189401,0.124486,0.060593,0.045994,0.087922,-0.101645,0.053205,0.110552,0.018352,-0.011820,-0.003317,0.027377,0.184381,1.000000

### 7 - Week nights

In [51]:
df.groupby('no_of_week_nights')['Booking_ID'].count().sort_values(ascending = False).reset_index()

    no_of_week_nights  Booking_ID
0                   2       11444
1                   1        9488
2                   3        7839
3                   4        2990
4                   0        2387
5                   5        1614
6                   6         189
7                   7         113
8                   8          62
9                  10          62
10                  9          34
11                 11          17
12                 15          10
13                 12           9
14                 14           7
15                 13           5
16                 17           3
17                 16           2